@import url(/vendors/normalize.css);

.body {
  background-color: #000000;
  color: #ffffff;
}

.page {
  max-width: 880px;
  font-family: "Inter", Arial, sans-serif;
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 45px;
}

.header {
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  margin-bottom: 40px;
}

.header-logo {
  padding-bottom: 41px;
}

.profile {
  display: flex;
  justify-content: space-between;
}

.profile__info {
  display: flex;
  align-items: center;
}

.profile__avatar {
  border-radius: 50%;
  margin-right: 30px;
}

.profile__name {
  margin: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin-right: 18px;
}

.profile__sub-name {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
}

.elements {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 17px;
}

.element {
  display: flex;
  flex-direction: column;
  max-width: 282px;
  border-radius: 10px;
  overflow: hidden;
}

.title {
  background-color: white;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  display: flex;
  justify-content: space-between;
  padding: 25px 20px 30px 21px;
}

.title h2 {
  margin: 0;
}

.popup .popup-open {
  display: block;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  display: none;
}

.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup__container {
  background-color: #ffffff;
  color: #000000;
  max-width: 430px;
  padding: 36px;
  position: relative;
  border-radius: 10px;
}

.close-popup {
  position: absolute;
  top: -40px;
  right: -40px;
}

.popup__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0px 0px 54px 0px;
}
